<% content_for :global_content_classes do %>h-feed<% end %>

<header class="content-header">
	<h1 class="p-name">Webmentions</h1>
</header>

<ol class="webmentions-list" reversed>
	<% @webmentions.each do |webmention| %>
		<li class="webmention h-entry h-event">
			<div class="e-content p-description">
				<%= erb :'webmentions/_details', locals: { webmention: webmention } %>
				<small><%= link_to 'View details →', webmention_url(webmention.id), class: 'u-url' %></small>
			</div>
		</li>
	<% end %>
</ol>