<article class="webmention--single webmention h-entry h-event">
	<h1 class="webmention-title p-name"><%= link_to "Webmention ##{@webmention.id}", webmention_url(@webmention.id), class: 'u-url' %></h1>

	<div class="webmention-content e-content p-description">
		<%= erb :'webmentions/_details', locals: { webmention: @webmention } %>
		<p>This webmention is <span data-verified="<%= @webmention.verified? %>"><%= @webmention.verified? ? 'verified' : 'unverified' %></span>.</p>
	</div>
</article>