<article class="h-entry h-event">
	<h1 class="p-name"><%= link_to "Webmention ##{@webmention.id}", webmention_url(@webmention.id), class: 'u-url' %></h1>

	<div class="e-content p-description">
		<%= erb :'webmentions/_details', locals: { webmention: @webmention } %>
		<p>This webmention is <i><%= @webmention.verified? ? 'verified' : 'unverified' %></i>.</p>
	</div>
</article>