<p>This is the <%= link_to 'webmention', 'http://indiewebcamp.com/webmention' %> endpoint for <%= link_to 'sixtwothree.org', 'http://sixtwothree.org' %>.</p>
<p>If you’ve written something that references a page on sixtwothree.org, you can manually send a webmention with the following command:</p>
<code>curl -i -d 'source=http://example.com/path/to/your/post&amp;target=http://sixtwothree.org/path/to/my/post' http://webmention.sixtwothree.org</code>