<!doctype html>
<html id="webmention-sixtwothree-org" lang="en-US">
<head>
	<meta charset="utf-8">

	<title><%= "#{@page_title} — " if @page_title %>Webmentions — sixtwothree.org</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		body {
			color: #333;
			font-family: Georgia, serif;
			margin: 0;
			padding: 5em 1em;
		}

		p {
			font-size: 1.5em;
			line-height: 1.5;
			margin: 1.5em 0;
			text-align: center;
		}

		li {
			font-size: 1.25em;
			line-height: 1.5;
			margin: 1em 0;
		}

		a {
			color: #c00;
			font-style: italic;
			text-decoration: underline;
			white-space: nowrap;
		}

		a:focus,
		a:hover {
			color: #e00;
		}

		.content {
			margin: 0 auto;
			max-width: 46em;
		}

		.meta {
			border-top: 0.125em solid #eee;
			margin: 5em auto 0 auto;
			padding-top: 1.5em;
		}

		.meta p {
			font-size: 1em;
			margin: 0;
		}

		.meta a {
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}
	</style>
</head>
<body>

	<main class="content" role="main">
		<%= yield %>
	</main>

</body>
</html>